extends ../_layout

block content
    h1 Drone Details:
        ul
            li
                p= drone.name
                p= drone.manufacturer
                img(src= drone.image)
                p= drone.description
                p= drone.serviceSupported
                p= drone.pricePerDay
                    span  per day